body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .element {
    font-size: 14px;
    padding: 10px;
  }
}

#header {
  background-color: blanchedalmond;
  padding: 20px;
  width: 100%;
  position: flex;
  left: 0;
  top: 0;
}

.container {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
}

#header .container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Nav Bar */

.nav ul,
.fixed-nav .nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav ul li,
.fixed-nav .nav ul li {
  display: inline;
  margin: 0 15px;
  padding: 10px;
  font-size: larger;
}

.nav ul li a,
.fixed-nav .nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover,
.fixed-nav .nav ul li a:hover {
  color: #ff6600;
}

.nav a,
.fixed-nav .nav ul li a {
  text-decoration: none;
}

.fixed-nav {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
}

/* Intro */

.intro-text h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.profile-picture img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  font-size: 24px;
}

.tech-stack h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

/* Icon Styling */

.tech-icons i {
  font-size: 30px;
  margin-right: 20px;
}

.html-icon {
  color: #e34c26;
}

.css-icon {
  color: #2965f1;
}

.js-icon {
  color: #f0db4f;
}

.react-icon {
  color: #61dbfb;
}

.tailwind-icon {
  color: #38b2ac;
}

.node-icon {
  color: #339933;
}

/* Sections */

.introduction-section,
.about-section,
.projects-section,
.contacts-section {
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.introduction-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.introduction-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.about-section h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.about-section p {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
}

.about-section p + p {
  margin-top: 20px;
}

.section-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.projects-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.project-image {
  width: 90%;
  height: 350px;
  object-fit: contain;
}

.project-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.project-box p {
  font-size: 14px;
  color: #666;
}

.video-container {
  height: 400px;
}

.contact-section {
  background-color: #f8f9fa;
  padding: 50px 0 100px;
  text-align: center;
}

.projects-section {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
  overflow: auto;
  max-height: 500px;
}

.project-image-container {
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.project-image:hover {
  transform: scale(1.1);
}
